<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">
  
  <resultMap type="chatRoom" id="chatRoomResultSet">
  	<result property="chatRoomNo" column="CHAT_ROOM_NO"/>
  	<result property="title" column="TITLE"/>
  	<result property="nickName" column="NICK_NAME"/>
  	<result property="cnt" column="CNT"/>
  	<result property="userNo" column="USER_NO"/>
  	<result property="status" column="STATUS"/>
  </resultMap>
  
  <resultMap type="chatMessage" id="chatMessageResultSet">
  	<result column="CM_NO" property="cmNo"/>
  	<result column="MESSAGE" property="message"/>
  	<result column="CREATE_DATE" property="createDate"/>
  	<result column="CHAT_ROOM_NO" property="chatRoomNo"/>
  	<result column="USER_NO" property="userNo"/>
  	<result column="NICK_NAME" property="nickName"/>
  </resultMap>
  
  <select id="selectChatRoomList" resultMap="chatRoomResultSet">
  	SELECT CHAT_ROOM_NO, TITLE, NICK_NAME, 
  		   (SELECT COUNT(*)
  		      FROM CHAT_ROOM_JOIN B
  		     WHERE B.CHAT_ROOM_NO = A.CHAT_ROOM_NO) CNT
  	  FROM CHAT_ROOM A
  	  JOIN MEMBER M USING(USER_NO)
  	 WHERE A.STATUS = 'Y'
  	 ORDER BY CHAT_ROOM_NO DESC
  </select>
  
  <insert id="openChatRoom" useGeneratedKeys="true">
  	<selectKey keyProperty="chatRoomNo" resultType="int" order="BEFORE">
  		SELECT SEQ_CR_NO.NEXTVAL
  		  FROM DUAL
  	</selectKey>
  	
  	INSERT INTO CHAT_ROOM
  	VALUES (#{chatRoomNo},
  			#{title},
  			DEFAULT,
  			#{userNo})
  </insert>
  
  <!--  채팅방 참여여부 확인 -->
  <select id="joinCheck" resultType="_int" parameterType="chatRoomJoin">
  	SELECT COUNT(*)
  	  FROM CHAT_ROOM_JOIN
  	 WHERE CHAT_ROOM_NO = #{chatRoomNo} 
  	   AND USER_NO = #{userNo}
  </select>
  
  <!-- 채팅방 참여하기 -->
  <insert id="joinChatRoom" parameterType="chatRoomJoin">
  	INSERT INTO CHAT_ROOM_JOIN
  	VALUES (#{userNo}, #{chatRoomNo})
  </insert>
  
  <!-- 채팅방 메세지 목록조회 -->
  <select id="selectChatMessage" resultMap="chatMessageResultSet">
  	SELECT MESSAGE, CREATE_DATE, USER_NO, NICK_NAME
  	  FROM CHAT_MESSAGE
  	  JOIN MEMBER USING(USER_NO)
  	 WHERE CHAT_ROOM_NO = #{chatRoomNo}
  	 ORDER BY CM_NO
  </select>
  
  <!-- 채팅메세지 삽입 -->
  <insert id="insertMessage" parameterType="chatMessage">
  	INSERT INTO CHAT_MESSAGE
  	VALUES (SEQ_CM_NO.NEXTVAL,
  			#{message},
  			DEFAULT,
  			#{chatRoomNo},
  			#{userNo})
  </insert>
  
  <!-- 채팅방나가기 -->
  <delete id="exitChatRoom" parameterType="chatRoomJoin">
  	 DELETE FROM CHAT_ROOM_JOIN
  	  WHERE USER_NO = #{userNo} 
  	  	AND CHAT_ROOM_NO = #{chatRoomNo}
  </delete>
  
  <!-- 채팅방인원수확인 -->
  	 <select id="countChatRoomMember" resultType="_int">
  	 	SELECT COUNT(*)
  	 	  FROM CHAT_ROOM_JOIN
  	 	 WHERE CHAT_ROOM_NO = #{chatRoomNo}
  	 </select>
 
  <!-- 인원수가0이라면 채팅방없애기 -->
  	 <update id="closeChatRoom" >
  	 	UPDATE CHAT_ROOM
  	 	   SET STATUS = 'N'
  	 	 WHERE CHAT_ROOM_NO = #{chatRoomNo}  
  	 </update>
</mapper>
